body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.header,
.section-1,
.section-2,
.section-3,
.section-4,
.footer {
    padding: 0 240px;
}

.header,
.section-1,
.footer {
    background-color: beige;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header ul {
    list-style-type: none;
    display: flex;
    gap: 2em;
}

.section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    padding: 64px 240px;
}

.section-1 .image {
    background-color: white;
    width: 640px;
    height: 240px;
}

.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 240px;
}

.section-2 .images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2em;
}

.section-2 .images .frame {
    width: 180px;
    text-align: center;
}

.section-2 .images .image {
    width: 180px;
    height: 180px;
    border-style: solid;
    border-color: black;
    border-radius: 16px;
}

.section-3 {
    background-color: beige;
    padding: 32px 240px;
}

.section-3 p {
    font-size: large;
    font-weight: lighter;
}

.section-4 {
    padding: 64px 240px;
}

.section-4 .banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: aliceblue;
    padding: 16px 64px;
}

.footer {
    text-align: center;
    font-size: small;
}

button {
    font-weight: bold;
    background-color: white;
    border-style: solid;
    padding: .5em 1em;
    border-radius: 8px;
}